{% extends "base.html" %}
{% block main %}

<div id="about" class="content_page">
    <img class="thumbnail pull-left" alt="Placeholder image" align="left" src="static/images/me.png" alt="Me">
    <p>
    I am a graduate student in the
    <a href="http://www.csupomona.edu/~cs/">Computer Science</a>
    department at the
    <a href="http://www.csupomona.edu/">california polytechnic state university pomona</a>
    , Pomona, CA, USA.
    <br>
    <br>
    I am currently researching single-photon imaging and sensing with

    in the
    <br>
    <br>
    <h2>Fun and interests</h2>
    My side interests include travelling, photography, astronomy, tea, (vegetarian) food, traditional and classical music, piano, pipe organ, violin, cycling, hiking, badminton and table tennis. I also enjoy participating/volunteering in the activites of a number of local activity groups, including:
    <br>
    <br>
    I've been on the teams of the following groups:
    <br>
    <ul>
    Other groups whose activities I frequently attend (and strongly recommend), but have not made any leadership contributions to:
    <ul>
    <br>
    </p>
    

</div>

<div class="home-bottom">

    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Follow me</h3>
        Follow me on your favourite social media. I am not always active on all of them though.
        <div style="margin-top:15px;">
            {% set sns_links = [
            ('facebook', 'https://www.facebook.com/gongzhen'),
            ('weibo', 'http://www.weibo.com/1760933442/profile?topnav=1&wvr=5&user=1'),
            ('twitter', 'https://twitter.com/gong_zhen'),
            ('quora', 'http://www.quora.com/Gong-Zhen-2/'),
            ('github', 'https://github.com/gongzhen'),
            ('linkedin', 'https://www.linkedin.com/profile/view?id=137631356&trk=nav_responsive_tab_profile'),
            ('flickr', ''),
            ('500px', ''),
            ('gplus', 'https://plus.google.com/u/0/'),
            ('zhihu', 'http://www.zhihu.com/people/gong-zhen-58'),
            ] %}

            {% for (id, link) in sns_links %}
            <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="{{ link }}" style="border:0;margin:0;width:40px;height:40px;padding:0;"><img alt="{{ id }}" src="http://static.dheera.net/icons/{{ id }}.gif" style="padding:0;margin:0;width:40px;height:40px;"></a></div>
            {% endfor %}
        </div>
    </div>

    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">News</h3>
        {% for news_item in news_items %}
        {|en:{{ news_item['date'][6:8] }}.{{ news_item['date'][4:6] }}.{{ news_item['date'][0:4] }}|zh:{{ news_item['date'][0:4] }}å¹´{{ news_item['date'][4:6] }}æœˆ{{ news_item['date'][6:8] }}}<br>
        <a href="{{ news_item['link'] }}">{{ news_item['title'] }}</a>
        <br><br>
        {% endfor %}
    </div>
    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Contact me</h3>
        The easiest way to reach me is by e-mail at<br><br>
        If you're trying to hire me, you might want to check out my <a href="{{url_for('static', filename='resume.pdf')}}">resume</a><a href=""></a>}
    </div>

</div>


{% endblock %}

