{% extends "base.html" %}
{% block main %}

<div id="about" class="content_page">
    <img class="thumbnail pull-left" alt="Placeholder image" align="left" src="static/images/me.png" alt="Me">
    <p>Greeting! My name is Gong Zhen and I am a graduate student in the
    <a href="http://www.csupomona.edu/~cs/">Computer Science</a>
    department at the <a href="http://www.csupomona.edu/">california polytechnic state university pomona</a>, Pomona, CA, USA.
    <br>
    <br>
    I am currently working in PSC biotech as the software engineer.
    <br>
    <h2>Programming Experience</h2>
    <p>Here is a list of the languages I have experience with:
    -C/C++<br>
    -Java<br>
    -MySQL<br>
    -Php<br>
    -Python<br>
    -SQL<br>
    -HTML<br>
    </p>
    <h2>Fun and interests</h2>
    My side interests include travelling, photography, astronomy, tea, (vegetarian food, music, cycling, hiking, swimming and basketball.
    <br>
    <br>
    <br>
    <p></p>
    

</div>

<div id="post-loop">
    <div class="container">
        <div class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-advertising post">
            <div class="post-background">
                <img class="thumbnail wp-post-image" width="310" height="420" alt="listerine" src="/static/images/listerine-310x420.jpg">
                    
                <div class="post-content" style="opacity: 0;">
                    <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"> </a>
                    <h2>
                        <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"></a>
                        <a href="http://haoowang.com/2014/05/listerine/">LISTERINE: Instantly Fresh</a>
                    </h2>
                    <div class="excerpt">
                        <p>Instantly FreshInteractive Designer, Art DirectorThe Problem Listerine Strips is no longer as popular as it first came out. The product is overlooked and people are more likely to buy gum or mints than Listerine Strips. The Solution Listerine Bad Breath Detector is a campaign launched to increase market share by raising product awareness. Deliverables Outdoor, […]</p>
                    </div><!-- end excerpt -->
                    <div class="date">
                        <em></em>
                        <a href="http://haoowang.com/2014/05/listerine/">May 24, 2014</a>
                    </div><!-- end date -->
                </div> <!-- end post-content -->
            </div> <!-- end post-background -->
        </div> <!-- post-1 -->

        <div class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-advertising post">
            <div class="post-background">
                <img class="thumbnail wp-post-image" width="310" height="420" alt="listerine" src="/static/images/listerine-310x420.jpg">
                    
                <div class="post-content" style="opacity: 0;">
                    <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"> </a>
                    <h2>
                        <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"></a>
                        <a href="http://haoowang.com/2014/05/listerine/">LISTERINE: Instantly Fresh</a>
                    </h2>
                    <div class="excerpt">
                        <p>Instantly FreshInteractive Designer, Art DirectorThe Problem Listerine Strips is no longer as popular as it first came out. The product is overlooked and people are more likely to buy gum or mints than Listerine Strips. The Solution Listerine Bad Breath Detector is a campaign launched to increase market share by raising product awareness. Deliverables Outdoor, […]</p>
                    </div><!-- end excerpt -->
                    <div class="date">
                        <em></em>
                        <a href="http://haoowang.com/2014/05/listerine/">May 24, 2014</a>
                    </div><!-- end date -->
                </div> <!-- end post-content -->
            </div> <!-- end post-background -->
        </div> <!-- post-1 -->

        <div class="post-1 post type-post status-publish format-standard has-post-thumbnail hentry category-advertising post">
            <div class="post-background">
                <img class="thumbnail wp-post-image" width="310" height="420" alt="listerine" src="/static/images/listerine-310x420.jpg">
                    
                <div class="post-content" style="opacity: 0;">
                    <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"> </a>
                    <h2>
                        <a class="post-content-link" href="http://haoowang.com/2014/05/listerine/"></a>
                        <a href="http://haoowang.com/2014/05/listerine/">LISTERINE: Instantly Fresh</a>
                    </h2>
                    <div class="excerpt">
                        <p>Instantly FreshInteractive Designer, Art DirectorThe Problem Listerine Strips is no longer as popular as it first came out. The product is overlooked and people are more likely to buy gum or mints than Listerine Strips. The Solution Listerine Bad Breath Detector is a campaign launched to increase market share by raising product awareness. Deliverables Outdoor, […]</p>
                    </div><!-- end excerpt -->
                    <div class="date">
                        <em></em>
                        <a href="http://haoowang.com/2014/05/listerine/">May 24, 2014</a>
                    </div><!-- end date -->
                </div> <!-- end post-content -->
            </div> <!-- end post-background -->
        </div> <!-- post-1 -->
                        
    </div>
</div> <!-- post-loop -->

<div class="home-bottom">

    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Follow me</h3>
        Follow me on your favourite social media. I am not always active on all of them though.
        <div style="margin-top:15px;">
            {% set sns_links = [
            ('facebook', 'https://www.facebook.com/gongzhen'),
            ('weibo', 'http://www.weibo.com/1760933442/profile?topnav=1&wvr=5&user=1'),
            ('twitter', 'https://twitter.com/gong_zhen'),
            ('quora', 'http://www.quora.com/Gong-Zhen-2/'),
            ('github', 'https://github.com/gongzhen'),
            ('linkedin', 'https://www.linkedin.com/profile/view?id=137631356&trk=nav_responsive_tab_profile'),
            ('flickr', ''),
            ('500px', ''),
            ('gplus', 'https://plus.google.com/u/0/'),
            ('zhihu', 'http://www.zhihu.com/people/gong-zhen-58'),
            ] %}

            {% for (id, link) in sns_links %}
            <div style="display:inline-block;margin-right:10px;margin-bottom:10px;line-height:1em;" class="clickable"><a href="{{ link }}" style="border:0;margin:0;width:40px;height:40px;padding:0;"><img alt="{{ id }}" src="http://static.dheera.net/icons/{{ id }}.gif" style="padding:0;margin:0;width:40px;height:40px;"></a></div>
            {% endfor %}
        </div>
    </div>

    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Contact me</h3>
        The easiest way to reach me is by e-mail at<br><br>
        If you're trying to hire me, you might want to check out my <a href="{{url_for('static', filename='resume.pdf')}}">resume</a><a href=""></a>}
    </div>
    

    <div class="home-bottom-box">
        <h3 style="color:#808080;padding:0;margin-top:0;margin-bottom:20px;">Contact me</h3>
        The easiest way to reach me is by e-mail at<br><br>
        If you're trying to hire me, you might want to check out my <a href="{{url_for('static', filename='resume.pdf')}}">resume</a><a href=""></a>}
    </div>

</div>


{% endblock %}

