

<a class="" skinpart="link" style="text-align: center; cursor: pointer;" href="http://media.wix.com/ugd/7a6cec_b0bc13b1e6f040aeb5b1d21ada67b2c9.pdf" target="_blank">
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
<span class="" skinpart="label" style="line-height: 30px;">Download My Resume</span>
</a>
